:root{
--mainBlu: #2a2a72;
--lightBlu: #009ffd;
--mainWhite:#f3f3f3;
--mainDark:#232528;
--mainYellow:#ffa400;
}
body{
background: var(--mainWhite)!important;
color: var(--mainDark)!important;

}
.text-title{
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}
.text-blue{
  color: var(--mainBlu);
}
.text-bright{
  color: var(--lightBlu);
}
.navbar-light .navbar-brand   {
  color:var(--mainWhite) !important;
}
.navbar-light .navbar-text a {
  color: var(--mainWhite) !important;
}