#cartStyling {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.cardStyling {
    margin: 10px;
}

.quantityButton {
    width: 20px;
    height: 20px;
    padding: 0;
}

.quantityButtonDiv {
    display: flex;
    align-items: flex-start;
}
